/* Specification */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #939393;
   }

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    color: #727272;
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
}

*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
 }

p {
    margin: 0;
    line-height: 1.5em;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.title {
    padding-left: 150px;
}

/* header */

.header {
    padding-top: 200px;
}

.header__image {
    width: 250px;
    height: 250px;
    border-radius: 50%; 
    overflow: hidden;
}

.header__image img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

.header__content {
    padding-top: 30px;
}

.header__title {
    line-height: 1.5em;
}

.header__title-name {
    color: #939393;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 60px;
    display: block;
}

.header__title-firstname {
    color: #F8BB10;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 60px;
}

.header__sub-title {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding-top: 20px;
    color: #939393;
}

.header__top {
    display: flex;
    position: relative;
}

.header__social-buttons-list {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.header__social-buttons-link img {
    width: 40px;
    height: 40px;
    background: #ededed;
}

.header__social-buttons-link img:hover {
    background: #fff;
    border: 1px solid #F8BB10;
    transition: all 0.5s ease;
}

.header__social-buttons-item:not(:last-child) {
    margin-right: 5px;
}

.header__contact {
    padding-top: 25px;
    margin-top: 150px;
    border-top: 2px solid #ececec;

}

.header__contact-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__contact-title {
    font-size: 15px;
    margin-bottom: 15px;
}

.header__contact-text {
    font-size: 15px;
}

.header__contact-item a{   
    font-size: 15px;
    color: #939393;
}

.header__contact-item:not(:last-child) {
    margin-right: 100px;
}

.header__contact-item a:hover{   
    color: #F8BB10;
    transition: all 0.5s ease;
}

/* about */

.about {
    padding-top: 100px;
}

.about__text-wrapper {
    width: 66%;
}

.about__text {
    font-size: 17px;
}

.about__text:not(:last-child) {
    margin-bottom: 15px;
}

/* skills */

.skills {
    padding-top: 100px;
}

.skills__list {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
}

.skills__item {
    display: flex;
    flex-basis: 50%;
    align-items: center;
}

.skills__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 20px;
}

.skills__number {
    font-weight: 600;
    color: #F8BB10;
    margin-right: 15px;
}

.skills__name {
    font-size: 17px;
}

/* code-example */

.code-example {
    padding-top: 100px;
}

.code-example__my-code {
    margin: 0 auto;
}


/* education */

.education {
    padding-top: 50px;
}

.education__list {
    width: 66%;
    list-style-type: disc
}

.education__list li::before {
    content: "\2022"; 
    color: #F8BB10; 
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.education__item:not(:last-child) {
    margin-bottom: 20px;
}

/* languages */

.languages {
    padding-top: 100px;
}

.languages__list {
    width: 66%;
    display: flex;
}